<?xml version="1.0"?>
<launch>
  <!-- Load parameters from YAML -->
  <rosparam command="load" file="$(dirname)/params.yaml"/>
  
  <!-- Start Gazebo with the barriers world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(dirname)/worlds/barriers.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  
  <!-- Spawn the human model -->
  <param name="human_model" command="$(find xacro)/xacro '$(dirname)/urdf/human_model.urdf.xacro' 
    width:='0.4' height:='1.7' depth:='0.2' mass:='70.0'
    color_r:='0.8' color_g:='0.6' color_b:='0.5'"/>
  
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" 
    args="-urdf -model human -param human_model -z 0.85"/>
  
  <!-- Start keyboard controller -->
  <node name="keyboard_control" pkg="time_to_scale" type="keyboard_control.py" output="screen"/>
  
</launch>
